vim/bundle/*
kindle/*
personal*
bin/xnomad
maestro/Keyboard Maestro Macros.plist
maestro/Untitled Macro File.kmmacros
newsbeuter/config
newsbeuter/solarized-dark.txt
newsbeuter/urls.txt
emacs/auto-save-list/*
emacs/backups/*
emacs/src/*
emacs/starter-kit*.el
*.elc
emacs/*.el
emacs/.cask
emacs/projectile*.*
emacs/bookmarks
emacs/url/cookies
emacs/eshell/history
emacs/saved-places
/emacs/eshell/lastdir
/emacs/places
/tmux-powerline/
/tmux/tmux-powerline/
/zsh/zsh-syntax-highlighting/
/emacs/tramp
/emacs/ac-comphist.dat
/emacs/var/pcache/gh/gh-gist-api/istib
/zsh/build/
bin/clojurescript
/emacs/.cache/
*.pyc
/emacs/pinboard-tags-cache
